body {
    color: #f5c518; /* Couleur dorée utilisée dans GTA V */
    font-family: 'BankGothic', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Police similaire à GTA V */
    text-align: center;
    font-size: x-large;
    animation-duration: 3s;
    animation-name: slidein;
    background-image: url('gta.jpg'); /* Image de fond */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f5c518;
    font-size: xx-large;
    text-shadow: 2px 2px #000; /* Ombre pour le texte */
}

.navigate-button {
    background-color: #0e0e0e; /* Couleur noire */
    border: 2px solid #f5c518; /* Bord doré */
    color: #f5c518;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.navigate-button:hover {
    background-color: #1c1c1c;
}
